<h1>Cadastro de Cliente</h1>
<form action="/teste/insertteste" method="POST" class="form">
<div class="form-control">
    <label for="nome"> seu nome</label>
    <input type="text" name="nome" placeholder="Insira seu nome">
    <br><br>
     <label for="nome">seu E-mail</label>
    <input type="text" name="email" placeholder="Insira seu E-mail">
    <br><br>

</div>
<input type="submit" value="Cadastrar">
</form>